@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
  --bg-gray: #eee;
  --border-gray: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  height: 100vh;
  color: #333;
  overflow: hidden;
}

.container {
  position: relative;
}

header {
  background-color: var(--bg-gray);
  position: fixed;
  width: 100%;
  top: 0;
}

header nav {
  border-bottom: 1px solid var(--border-gray);
  padding: 1rem;
}

header nav h2 {
  letter-spacing: 2px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

main article {
  text-align: center;
  padding: 1rem;
}

main article p {
  margin: 0.3rem 0;
}

main article p a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid var(--border-gray);
  transition: color 0.5s ease;
}

main article p span {
  font-size: 0.9rem;
  color: var(--border-gray);
}

main article p a:hover {
  color: var(--border-gray);
}

main article ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.7rem;
  list-style-type: none;
}

main article ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  transition: color 0.5s ease;
}

main article ul li:hover a {
  color: var(--border-gray);
}

.newsletter a {
  color: #333;
  text-decoration: none;
  padding: 0.2rem;
  display: block;
  transition: color 0.5s ease;
}

.newsletter:hover a {
  color: var(--border-gray);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bg-gray);
}

footer nav {
  padding: 0.5rem;
  border-top: 1px solid var(--border-gray);
  text-align: center;
}

footer nav small {
  font-size: 0.6rem;
  letter-spacing: 1px;
}
