*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
.container{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 15%;
    left: 0;
    text-align: center; 
}
a{
    text-decoration: none;
}
.main{
    padding: 1rem;
   font-size: 1rem;
}
img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;   
}
h1{
    text-transform: uppercase;
    color: #212529;
    padding: 1rem;
    cursor: default;
}
h1 span{
    color:#495057 ;
}
p{
    text-transform: uppercase;
    color: #6c757d;  
    cursor: default;
}
.email{   
    margin-top: 0.5rem;
    font-size: 0.7rem;
}

.email a{
 
    font-size: 0.8rem;
    color:#adb5bd  ;
    text-transform: lowercase; 
}
.email span{
    color: #6c757d;
    font-weight: bolder;
}
.email a:hover span{
  
    color: #212529;
}
.social-items{
    padding: 1rem;
    font-size: 1.5rem;
}
.social-items a{
    margin-right: 1rem;
  
    color: #6c757d;
    font-weight: bold;
}
.social-items a:hover{
    color: #212529;
    transition: 0.5s;
    
}
.social-items a:hover:last-child{
    text-decoration: underline;
  
    
}
.super a{
color:#adb5bd  ;
text-decoration: none;
font-size: 0.85rem;
}
.super a:hover{
    color:#212529 ;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: underline;
    transition: 0.5s;
}
.donation{
    font-size: 0.8rem;
    padding: 1rem;
}
.donation a{
    color: #6c757d;
   text-decoration: underline;
   
}
.donation a:hover{
    font-size: small;
    font-weight: bold;
    color: #212529;
}
